.search {
  z-index: 1;
  background-image: linear-gradient(150deg, blue, yellow);
  height: 100px;
  width: 100%;
  position: fixed;
}

.search > .container {
  display: flex;
}
.search__form {
  width: 400px;
}
.search__input {
  border-radius: 50px;
  width: 400px;
  height: 40px;
  border: none;
}

.search__btn {
  position: absolute;
  border: none;
  right: 8px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, blue, yellow);
}
