<header class="search">
  <div class="container">
  <form class="search__form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
      class="search__input"
    />
    <button type="submit" class="search__btn"><div class="spinner-border text-primary visually-hidden" role="status">
  <span class="visually-hidden"></span>
</div>&#128269</button>
    
  </form>
</div>
</header>
<section>
  <div class="container">
  <div class="gallery"></div>
</div>
</section>
